@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'vuestic-sass/index';
@import 'icon-fonts/index';



:root {
  --main-text-color: #1F3A93;
  --second-color : #F5F0DB;
  --color-all : #F9C006;
}
html {
  line-height: 1.15;
}
* {
  font-family: "Cairo", sans-serif;
}

body {
  line-height: 1;}

h1,
h2,
h3,
h4,
h5,
h6,
strong,
b {
  line-height: 1.2;
  font-weight: 600;
}

code,
kbd,
samp,
pre {
  font-family: monospace;
  font-size: 1em;
}
.app-layout{
  background-color:#FAF7F0 ;
}
.p-paginator {
  display: flex;
  direction: ltr !important;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem;

  border-radius: 3px;



}
.p-dropdown-panel .p-dropdown-header .p-dropdown-filter{
  margin: auto !important;
}

.p-paginator .p-paginator-pages .p-paginator-page .p-highlight {
  color:#000000 !important;
  padding: 5px !important ;
  margin: 2px !important;
  background-color: #aa650b !important;
}
.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.p-button,
.p-button.p-button-success {
  background-color: var(--main-text-color) !important;
  border-color: var(--main-text-color) !important;
  color: #fff;
}
.Custombutton {
    background-color:transparent !important;
    border-color: white !important;
}
.paginatorwrapper{
  direction: rtl !important;
}
.p-export{
  background-color: #0b3baa !important;
  border-color: #0b3baa !important;
  color: #fff;
}
.p-detail{
  background-color: #fbfefe !important;
  color: green !important;
  border: 0px !important;
}
.p-delete{
  background-color: #fbfefe !important;
  color: red !important;
  border: 0px !important;
}
.va-sidebar__menu{
  background-color: #f8f4ec !important;
  min-height: 100% !important;

  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.pi{
  margin-left: 5px !important;
}
.left {
  color: black !important;
}

.nave{
  direction: ltr !important;
}
.va-sidebar-item-content{
  color: rgb(21, 21, 21) !important;
}
.other {
  background-color: var(--main-text-color) !important;
  border-color: var(--main-text-color) !important;
  color: #fff;
}
.pop {
  background-color: #098071 !important;
  border-color: #098071 !important;
  color: #098071;
}
.exite {
  background-color: #3d9209 !important;
  border-color: #3d9209 !important;
  color: red;
}

.delete {
  margin-left: 10px !important;
  margin-right: 10px !important;
  border-radius: 50%;
  background-color: rgb(185, 17, 17) !important;
  border-color: rgb(177, 21, 21) !important;
  color: red;
  font-size: 16px;
}
.new {

  background-color: var(--main-text-color) !important;
  border-color: var(--main-text-color) !important;
}
.p-rating .p-rating-item .p-rating-icon {
  color: rgb(166, 166, 0) !important;
}
.va-va-sidebar__item .va-sidebar-item  {
  background-color: rgb(255, 255, 255) !important;
}
.p-button-text{
  color:white !important;
}
.notification-dropdown__content
{
  max-height: 300px !important;
  width: 300px !important;
  overflow: hidden !important;
}
.va-sidebar-item-content{
  color: white;
}
.bord{

  border: 1.5px solid black !important;

}
.bg-dashboard{
  background-color: #098071 !important;
}

.p-datatable-tbody{
  grid-template-columns: repeat(2, minmax(0, 1fr)) !important;
}
td{
  text-align: justify !important;
  /* padding-top: 1px !important;
  padding-bottom: 1px !important; */
}
canvas{
  height: 550px !important;
}
