name: Deploy to cPanel

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
      
      - name: Deploy via SSH
        uses: appleboy/scp-action@v0.1.7
        with:
          host: shift7store.com
          username: shiftsto
          password: ${{ secrets.SSH_PASSWORD }}
          port: 22
          source: "dist/*"
          target: /home/shiftsto/public_html
          strip_components: 1
          rm: true
